// Viewport Sizes
$desktop-width: 1440px;
$desktop-height: 900px;

$mobile-width: 375px;
$mobile-height: 650px;

$col-white: #ffffff;
$col-black: #000000;

$z-indexes: (
	'noscript',
	'preloader',
	'cursor',
	'navigation',
	'content',
	'canvas',
	'4',
	'3',
	'2',
	'1'
);
