@import '@/scss/import.scss';
.transition {
	@extend %center;
	@extend %cover;
	position: fixed;
	background: $col-black;

	z-index: z('preloader');
	transform: translateY(-100%);
	p {
		@extend %text-48;
		text-align: center;
		text-transform: uppercase;

		span {
			overflow: hidden;
			display: inline-block;
			span {
				opacity: 0;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
	& > div {
		position: fixed;
		@extend %center;
		bottom: max(15px, 2rem);
		width: 100vw;
		img {
			width: max(8rem, 50px);
			height: max(8rem, 50px);
			animation: rotate 2s linear infinite;
		}
	}
}
