html {
	overflow-x: hidden;
	scroll-behavior: initial;
	overscroll-behavior: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;

	font-size: 10px;
	font-size: calc(100vw / 1440 * 10);
	line-height: 1;

	scrollbar-width: thin;
	--gutter: max(2rem, 20px);
	--text: max(1.6rem, 14px);

	&.lenis-stopped {
		overflow: hidden;
	}
}

body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
	color: $col-black;
	background: $col-white;

	::selection {
		text-shadow: none;
		// background: $col-white;
	}
}

:root {
	font-family: 'Inter', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

button,
[role='button'] {
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	outline: none;
}

.whitespace {
	display: inline !important;
}
